<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="RapiderCxxErrorParser"
         name="%errorparser.name"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="fr.jayacode.rapider.checker.cxx.checker.ErrorParser"
            id="fr.jayacode.rapider.checker.cxx.parser"
            name="%errorparser.name">
         <context
               type="codan">
         </context>
      </errorparser>
   </extension>
   <extension
         id="fr.jayacode.rapider.checker.cxx.checkers"
         point="org.eclipse.cdt.codan.core.checkers">
      <category
            id="fr.jayacode.rapider.checker.cxx.category"
            name="%category.name">
      </category>
      <checker
            class="fr.jayacode.rapider.checker.cxx.checker.Checker"
            id="fr.jayacode.rapider.checker.cxx.checker"
            name="%checker.name">
         <problem
               category="fr.jayacode.rapider.checker.cxx.category"
               defaultEnabled="true"
               description="%problem.description"
               id="fr.jayacode.rapider.checker.cxx.rapiderProblem"
               messagePattern="{0}"
               name="%problem.name">
         </problem>
      </checker>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.codan.ui.preferences.CodanPreferencePage"
            class="fr.jayacode.rapider.checker.cxx.prefs.PreferencePage"
            id="fr.jayacode.rapider.checker.cxx.prefs.page1"
            name="%preferencesPage.name">
      </page>
   </extension>
   <extension
         id="fr.jayacode.rapider.checker.cxx.prefs"
         name="%preferencesExtension.name"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.jayacode.rapider.checker.cxx.prefs.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
