<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="RapiderCxxErrorParser"
         name="%errorparser.name"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="fr.jayacode.rapider.checker.cxx.checker.ErrorParser"
            id="fr.jayacode.rapider.checker.cxx.parser"
            name="%errorparser.name">
         <context
               type="codan">
         </context>
      </errorparser>
   </extension>
   <extension
         id="fr.jayacode.rapider.checker.cxx.checkers"
         point="org.eclipse.cdt.codan.core.checkers">
      <category
            id="fr.jayacode.rapider.checker.cxx.category"
            name="%category.name">
      </category>
      <checker
            class="fr.jayacode.rapider.checker.cxx.checker.Checker"
            id="fr.jayacode.rapider.checker.cxx.checker"
            name="%checker.name">
         <problem
               category="fr.jayacode.rapider.checker.cxx.category"
               defaultEnabled="true"
               description="%problem.description"
               id="fr.jayacode.rapider.checker.cxx.rapiderProblem"
               messagePattern="{0}"
               name="%problem.name">
         </problem>
      </checker>
   </extension>
   <extension
         id="fr.jayacode.rapider.problemmarker"
         name="%marker.name"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.cdt.codan.core.codanProblem">
      </super>
      <attribute
            name="patch">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="fr.jayacode.rapider.marker"
            name="fr.jayacode.rapider.checker.cxx.annotation.info"
            super="org.eclipse.cdt.codan.ui.annotation.info">
      </type>
      <type
            markerSeverity="1"
            markerType="fr.jayacode.rapider.marker"
            name="fr.jayacode.rapider.checker.cxx.annotation.warning"
            super="org.eclipse.cdt.codan.ui.annotation.warning">
      </type>
      <type
            markerSeverity="2"
            markerType="fr.jayacode.rapider.marker"
            name="fr.jayacode.rapider.checker.cxx.annotation.error"
            super="org.eclipse.cdt.codan.ui.annotation.error">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="fr.jayacode.rapider.checker.cxx.annotation.error"
            colorPreferenceKey="org.eclipse.cdt.codan.ui.annotation.error.color"
            colorPreferenceValue="255,0,0"
            icon="icons/red-jr.gif"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="org.eclipse.cdt.codan.ui.annotation.error.GoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="org.eclipse.cdt.codan.ui.annotation.error.GoToPreviousNavigationTarget"
            label="%marker.error.name"
            overviewRulerPreferenceKey="org.eclipse.cdt.codan.ui.annotation.error.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="6"
            quickFixIcon="icons/red-jr.gif"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="org.eclipse.cdt.codan.ui.annotation.error.NextPrevDropdownToolbar"
            textPreferenceKey="org.eclipse.cdt.codan.ui.annotation.error.text"
            textPreferenceValue="true"
            textStylePreferenceKey="org.eclipse.cdt.codan.ui.annotation.error.textstyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="org.eclipse.cdt.codan.ui.annotation.error.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="fr.jayacode.rapider.checker.cxx.annotation.warning"
            colorPreferenceKey="org.eclipse.cdt.codan.ui.annotation.warning.color"
            colorPreferenceValue="255,255,0"
            icon="icons/orange-jr.gif"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="org.eclipse.cdt.codan.ui.annotation.warning.GoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="org.eclipse.cdt.codan.ui.annotation.warning.GoToPreviousNavigationTarget"
            label="%marker.warning.name"
            overviewRulerPreferenceKey="org.eclipse.cdt.codan.ui.annotation.warning.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="5"
            quickFixIcon="icons/orange-jr.gif"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="org.eclipse.cdt.codan.ui.annotation.warning.NextPrevDropdownToolbar"
            textPreferenceKey="org.eclipse.cdt.codan.ui.annotation.warning.text"
            textPreferenceValue="true"
            textStylePreferenceKey="org.eclipse.cdt.codan.ui.annotation.warning.textstyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="org.eclipse.cdt.codan.ui.annotation.warning.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="fr.jayacode.rapider.checker.cxx.annotation.info"
            icon="icons/green-jr.gif"
            label="%marker.info.name"
            presentationLayer="4">
      </specification>
   </extension>
   <extension
         id="fr.jayacode.rapider.checker.markerResolution"
         point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
      <resolution
            class="fr.jayacode.rapider.checker.cxx.quickfix.MarkerResolution"
            problemId="fr.jayacode.rapider.checker.cxx.problem1">
      </resolution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.codan.ui.preferences.CodanPreferencePage"
            class="fr.jayacode.rapider.checker.cxx.prefs.PreferencePage"
            id="fr.jayacode.rapider.checker.cxx.prefs.page1"
            name="Rapider">
      </page>
   </extension>
   <extension
         id="fr.jayacode.rapider.checker.cxx.prefs"
         name="Rapider Preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.jayacode.rapider.checker.cxx.prefs.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
